<div class="form mb-3">
    <%= form.text_field :scarf_name, placeholder: "Scarf Name", class: "form-control mr-2", scarf: "scarf_name" %>
    <%= form.text_field :description, placeholder: "Any text in description", class: "form-control mr-2", scarf: "scarf_desc"  %>
    <%= form.submit "Search", class: "btn btn-outline-danger" %>
</div>