<p id="notice"><%= notice %></p>

<h1>Scarves</h1>

<table id="all-scarves">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City inspiration</th>
      <th>Date inspiration</th>
      <th>Weather inspiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'scarf', collection: @scarves %>
  </tbody>
</table>

<br>

<div id="new-scarf">
  <%if !(current_user == nil)%>
    <%= link_to 'New Scarf', new_scarf_path, remote: true %>  
  <% end %>
</div>


